<div class="event">
  <div class="label">
    <img class="ui avatar image" src="/images/avatar/small/elliot.jpg">
  </div>
  <div class="content">
    <div class="summary">
      <a class="user">
        {{activity.performedBy}}
      </a> {{activity.description}}
    </div>
  </div>
</div>
