<div class="ui padded grid">

  <div class="six wide column">
    <img src="https://camo.githubusercontent.com/b8ecf54b15f51c7c992d6fce003b661c96d8acec/68747470733a2f2f63646e2e7261776769742e636f6d2f6172746966696369616c696f2f73616e652f67682d70616765732f5f696e636c756465732f73616e652d6c6f676f2e737667" width="400"/>
  </div>
  <div class="ten wide column">
    <h2 id="title">SANE Stack Example Series</h2>
    <h3>Real time socket.io activity feed</h3>
  </div>
</div>
<hr>
{{outlet}}
